<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>EMEA</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @emeas.each do |emea| %>
      
          <li>
            <% if emea.type == "eventsponsors" %>
              <a href="<%= url_for :action => :show, :model => :EventSponsors, :id => emea.object %>">
                <%= emea.name %>
              </a>
            <% elsif emea.type == "agenda" %>
              <a href="<%= url_for :action => :show, :model => :Agendas, :id => emea.object %>">
                <%= emea.name %>
              </a>
            <% else %>
              <a href="<%= url_for :action => :show, :id => emea.object %>">
                <%= emea.name %>
              </a>
            <% end %>
          </li>
      
      <% end %>
    </ul>
  </div>

</div>
